//主背景色
$blog_main_background: #352E3D;
//装饰图颜色
$blog_ex_background:#B7A2CE;
//按钮颜色
$blog_button_background:#8E80F5;
//卡片颜色
$blog_card_background:#302938;
//数据项背景颜色
$blog_item_background:#352E3D;


//默认字体颜色
$blog_defalut_font_color:#D3CBDB;
$blog_placehodler_color:#D3CBDB;

